<div class="cart-frame">
  <div class="cart-header clearfix">
    <h3>购物车宝贝:</h3>
    <%= link_to("清空购物车", clean_carts_path, method: :delete, data: {:confirm => "你确定要清空整个购物车吗？"}, class: "btn pull-right") %>
  </div>

  <div class="cart-thead">
    <div class="cart-title">
      商品信息
    </div>
    <div class="cart-price">
      单价
    </div>
    <div class="cart-quantity">
       数量
    </div>
    <div class="cart-sum">
       小记（元）
    </div>
    <div class="cart-remove">
       操作
    </div>
  </div>

  <% current_cart.cart_items.each do |cart_item| %>

      <div class="cart-tbody" id="cart-tbody-<%= cart_item.id %>">

        <% if cart_item.product.present? %>

          <div class="cart-picture">
            <%= link_to product_path(cart_item.product) do %>

             <% if cart_item.product.photos[0].present? %>
                <%= image_tag(cart_item.product.photos[0].avatar.small.url) %>
              <% else %>
                <%= image_tag("https://ww4.sinaimg.cn/large/006tNc79ly1fe2owhk361j307c05bmx4.jpg", width:"100", height:"100", class: "thumbnail" ) %>
              <% end %>

            <% end %>
          </div>

          <div class="cart-title">
            <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
          </div>

          <div class="cart-price">
            <%= cart_item.product.price %>
          </div>
          <div class="cart-quantity">
            <div class="countNumber" >
              <%= link_to("-", reduce_quantity_cart_item_path(cart_item), :remote=>true, class: "countNumber-btn countNumber-btn-sub", method: :post) %>
              <span id="cart_item-quantity-<%= cart_item.id%>" >
              <%= render :partial => "cartitem_quantity",:locals => {:cart_item => cart_item }%>
              </span>
              <%= link_to("+", add_quantity_cart_item_path(cart_item), :remote=>true, class: "countNumber-btn countNumber-btn-plus", method: :post) %>
            </div>
          </div>
          <div class="cart-sum" >
            <% if cart_item.product.price.present? %>
              <span id="cart_item-sum-<%=cart_item.id%>"><%= cart_item.quantity * cart_item.product.price %> ¥</span>
            <% else %>
              0 ¥
            <% end %>
          </div>
          <div class="cart-remove">
            <%= link_to("移除商品", cart_item_path(cart_item),:remote => true, method: :delete, data:{confirm: "确定要删除此商品吗?"}, class: "btn") %>
          </div>

        <% else %>

          <div class="cart-picture">

            <%= image_tag("https://ww2.sinaimg.cn/large/006tNc79gy1fe6gtfxntqj30ci09et97.jpg", width:"100", height:"100") %>
          </div>
          <div class="cart-title">
            <%= cart_item.title %>
          </div>
          <div class="cart-price">

          </div>
          <div class="cart-quantity">
             <%= cart_item.quantity %>
          </div>
          <div class="cart-sum">
             此产品已过期
          </div>
          <div class="cart-remove">
            <%= link_to("移除商品", cart_item_path(cart_item),:remote=> true, method: :delete, data:{confirm: "Are you sure?"}, class: "btn") %>
          </div>

        <% end %>

      </div>
  <% end %>

  <div class="cart-checkout">
    <%= link_to("确认结账", checkout_carts_path, method: :post, class: "btn btn-danger btn-lg pull-right" ) %>
     <span id="cart-sum-all"><%= render_total_price(current_cart) %> RMB</span>
     <b>总计:</b>
  </div>


</div>
