<%= simple_form_for [:admin,@product] do |f| %>
  <%= f.input :title  %>
  <%= f.input :description %>
  <%= f.input :quantity %>
  <%= f.input :price %>
  <%= f.select :category,["餐","茶", "酒", "花", "香" ]%>
  <% if @product.image.present? %>
    <span>目前商品图</span><br>
    <%= image_tag(@product.image.thumb.url) %>
  <% end %>
  <%= f.input :image, as: :file %>
  <%= f.submit "确定", data:{ disable_with: "提交中..." } %>
<% end %>
