<%= simple_form_for [:admin,@product] do |f| %>
  <%= f.input :title  %>
  <%= f.input :description %>
  <%= f.input :quantity %>
  <%= f.input :price %>
  <%= f.select :category,["餐","茶", "酒", "花", "香" ]%>

  <br><br>
    <div class="clearfix">
      <% if @product.photos.present? %>
        <%= f.label "当前图片" %><br>
        <% @product.photos.each do |p| %>
        <div class="col-md-4 clearfix">
          <%= image_tag p.avatar.thumb.url %><br>
        </div>
        <% end %>
      <% end %>
    </div>
    <br>
  <%= f.label "上传产品图（支持同时上传多图)" %><br>
  <%= f.file_field :avatar, :multiple => true, name: "photos[avatar][]" %>
  <%= f.submit "确定", data:{ disable_with: "提交中..." } %>
<% end %>
