
  <div class="product-block">
    <div class="product-picture">
      <%= link_to product_path(product) do %>
        <% if product.photos.present? %>
          <%= image_tag(product.photos[0].avatar.thumb.url) %>
        <% else %>
          <%= image_tag("https://ww4.sinaimg.cn/large/006tNc79ly1fe2owhk361j307c05bmx4.jpg", width: 200 , height: 200 ) %>
        <% end %>
      <% end %>
    </div>

    <div class="product-word">
      <div class="product-word1">
        ¥ <%= product.price %>
        <span id="product-favorite-<%= product.id %>">
          <%= render :partial=> "product_favorite", :locals => {:product => product} %>
        </span>
      </div>
    <div class="product-word2">
      <div class="product-title"><%= product.title %></div>
      <div class="product-favorite" id="product-favorite-count-<%=product.id%>"><%= product.users.count%></div>
    </div>

    </div>
  </div>

  
