
  <tr id="review-delete-<%=review.id%>">
    <td>
      <span>
        <% if review.user.image.present? %>
          <%= image_tag(review.user.image.xsmall.url,style:"border-radius:27px;")%>
       <% else %>
          <%= image_tag("https://ww1.sinaimg.cn/large/006tNc79ly1feg9gsctldj30rs0rswfs.jpg",width:50,height:50, style:"border-radius:27px;")%>
       <% end %>
      </span>
      <span>
        <% if review.user.nickname.present? %>
           <b><%= review.user.nickname %></b>
        <% else %>
           <b>小红帽</b>
        <% end %>
        说：
      </span>
      <span class="pull-right" style="margin-top:20px;"><%= review.created_at.to_s(:long) %></span>
    </td>
  </tr>
  <tr id="review-delete-<%=review.id%>-1">
    <td>
      <%= simple_format(review.content) %>

        <!-- <% if current_user.present? && review.user.email == current_user.email%>
         <%= link_to("撤销评论",product_review_path(product,review),:remote=>true, method: :delete, data:{confirm: "确定删除此评论吗？"}, class: "btn btn-warning", style: "float:right;")%>
        <% end %> -->
    </td>
  </tr>
