

<div class="category-bar ">

    <div class="productCategory-item">
      <%= link_to products_path(category: "茶") do %>
      <img src="http://ww3.sinaimg.cn/large/006tNbRwly1ffqhbvqro5j309g09e40l.jpg" class="img-circle">
      <h2>茶</h2>
      <% end %>
    </div>
    <div class="productCategory-item">
      <%= link_to products_path(category: "花") do %>
      <img src="http://ww2.sinaimg.cn/large/006tNbRwly1ffqhahtjzzj309d09e0xg.jpg" class="img-circle">
      <h2>花</h2>
      <% end %>
    </div>
    <div class="productCategory-item">
      <%= link_to products_path(category: "香") do %>
        <img src="http://ww4.sinaimg.cn/large/006tNbRwly1ffqhequyopj309g0acgpq.jpg" class="img-circle">
        <h2>香</h2>
      <% end %>
    </div>
    <div class="productCategory-item">
      <%= link_to products_path(category: "酒") do %>
        <img src="http://ww2.sinaimg.cn/large/006tNbRwly1ffqgrgt4dhj309g09ktaz.jpg" class="img-circle">
        <h2>酒</h2>
      <% end %>
    </div>
    <div class="productCategory-item">
      <%= link_to products_path(category: "餐") do %>
        <img src="http://ww3.sinaimg.cn/large/006tNbRwly1ffqgtfa62pj309g09ltbd.jpg" class="img-circle">
        <h2>餐</h2>
      <% end %>
    </div>
</div>

<div class="product-order-bar">
  <div class="dropdown">
      <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">排序
          <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation" class="dropdown-menu-list">
              <%= link_to("最新", products_path(:order => "latest"))%>
          </li>
          <li role="presentation" class="dropdown-menu-list">
              <%= link_to("价格", products_path(:order => "price"))%>
          </li>
          <li role="presentation" class="dropdown-menu-list">
              <%= link_to("人气", products_path(:order => "hot"))%>
          </li>
      </ul>
  </div>
</div>



<div class="product-area clearfix">
  <% @products.each do |product| %>
    <div class="col-md-3 col-xs-6 product-list">
      <%= render :partial => "product_list", locals:{ product: product } %>
    </div>
  <% end %>
  <!-- <%= render :partial => "product_list", :collection => @products, as: :product %> -->
</div>
<p class="text-center product-ending" style="color: #9d6d4a">没有更多商品了</p>

<div class="back-to-top">
  <a href="#navigation-bar"><i class="fa fa-arrow-up"></i></a>
</div>

<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
