
<div class="">
  <ol>
    <li><%= link_to("餐",  products_path(category: "餐"))%></li>
    <li><%= link_to("茶",  products_path(category: "茶"))%></li>
    <li><%= link_to("酒",  products_path(category: "酒"))%></li>
    <li><%= link_to("花",  products_path(category: "花"))%></li>
    <li><%= link_to("香",  products_path(category: "香"))%></li>
  </ol>
</div>
<div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class:"thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
        <% end %>
      <% end %>
      <%= product.title %> ¥ <%= product.price %>
    </div>

  <% end %>
</div>
