<%= render :partial => "head_of_index" %>


<div class="">
  <ol>
    <li><%= link_to("餐",  products_path(category: "餐"))%></li>
    <li><%= link_to("茶",  products_path(category: "茶"))%></li>
    <li><%= link_to("酒",  products_path(category: "酒"))%></li>
    <li><%= link_to("花",  products_path(category: "花"))%></li>
    <li><%= link_to("香",  products_path(category: "香"))%></li>
  </ol>
</div>

<div class="order-bar">
  <span>商品排序:</span>
  <span class="active"><%= link_to("最新", products_path(:order => "latest"))%></span>
  <span><%= link_to("价格", products_path(:order => "price"))%></span>
  <span><%= link_to("人气", products_path(:order => "hot"))%></span>
</div>



<div class="product-area clearfix">
  <% @products.each do |product| %>
    <div class="col-md-3 col-xs-6 product-list">
      <%= render :partial => "product_list", locals:{ product: product } %>
    </div>
  <% end %>
  <!-- <%= render :partial => "product_list", :collection => @products, as: :product %> -->
</div>
<p class="text-center product-ending">没有更多商品了</p>

<div class="back-to-top">
  <a href="#navigation-bar"><i class="fa fa-arrow-up"></i></a>
</div>
