<%= render partial: "head_of_index" %>

<div class="product-area clearfix">
  <% if @products.blank? %>
    抱歉，没有找到您要的商品。。。
    <hr>
    <div class="">
      <h4>为您推荐：</h4>
      <!-- <%= render partial: "product_list", :collection => Product.all.limit(4).sort_by{|product| product.users.count}.reverse, :as => :product %> -->
      <% Product.all.includes(:photos).sort_by{|product| product.users.count}.reverse.each_with_index do |product,index| %>
        <% if index < 4 %>
          <div class="col-md-3 col-xs-6 product-list">
            <%= render :partial => "product_list", locals: {product: product, index: index } %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <% @products.each do |product| %>
      <div class="col-md-3 col-xs-6 product-list">
        <%= render :partial => "product_list", locals: {product: product } %>
      </div>
    <% end %>
    <!-- <%= render partial: "product_list", :collection => @products, :as => :product %> -->
  <% end %>
</div>
