<!DOCTYPE html>
<html class="layouts-application">
  <head>
    <title>钧瓷世家（后台）</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="layouts-yield">
      <%= render "common/navbar" %>
      <%= render "common/flashes" %>
      <div class="col-md-2">
        <%= link_to("Product",admin_products_path,class:"btn btn-primary")%>
        <%= link_to("Order", admin_orders_path) %>
      </div>
      <div class="application-yield col-md-10">
        <%= yield %>
      </div>
    </div>

    <%= render "common/footer" %>

  </body>
</html>
