<!DOCTYPE html>
<html class="layouts-application">
  <head>
    <title>钧瓷世家</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="layouts-yield">
      <%= render "common/navbar" %>
      <%= render "common/flashes" %>
      <div class="application-yield">
        <%= yield %>
      </div>
    </div>

    <%= render "common/footer" %>

  </body>
</html>
